extends layout/dash
block body
  .container
    -if (posts)
      ul.posts
        -each post in posts
          li
            a(href="/dash/post/#{post.id}")
              p= post.title
            a(href="/dash/post/#{post.id}/delete")
              p delete post

  
