extends layout/dash
block body
  .container
    -if (posts)
      .posts
        -each post in posts
          .row.post
            .col-sm-8
              a(href="/dash/post/#{post.id}")
                p= post.title
            .col-sm-4
              p= pretty_date(post.publishDate)
              a(href="/dash/post/#{post.id}/delete")
                p delete post

  
