extends layout/base
block body
  .container
    .row
      form.col-sm-8.col-sm-offset-2.form(action="/login", method="post")
        .form-group
          label.control-label(for="username") U
          input.form-control(type="text", name="username")

        .form-group
          label.control-label(for="password") P
          input.form-control(type="password", name="password")

        input.submit.btn.btn-primary(type="submit", value="Go go go")
