extends layout/base
block body
  .container
    .row
      .col-sm-12
        h1.title= post.title 

        p.body!= post.body

        p.date= post.publishDate

        if post.tags
          ul.tags
            -each tag in post.tags
              li= tag
