/* lol hai
 **********/
@media screen and (min-width: 768px) {
    .wrapper {
        margin-left: 10em;
        width: 60em;
    }
}

.new-post.container {
    .new-post {
        margin-top: 2em;
        .hint {
            color: #82FF82; 
            font-size: 14px;
            line-height: 14px;
        }
        textarea {
            min-height: 400px;
        }
    }
}











