/* lol hai
 **********/
@media screen and (min-width: 768px) {
    .wrapper {
        margin-left: 10em;
        width: 60em;
    }
}

.new-post.container {
    .new-post {
        margin-top: 2em;
        textarea {
            min-height: 400px;
        }
    }
}











